* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: lightblue;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: #5d4954;
  font-family: "Poppins", sans-serif;
  padding: 0 5rem;
  background-color: royalblue;
}

.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
  /* padding: 0 10rem; */
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1800px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: fixed;
    right: 0px;
    /* height: 92vh; */
    top: 10vh;
    background-color: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* 50 is best */
    z-index: -1;
    background-color: #fff;

    transform: translatex(-200%);

    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
    padding: 2rem 10rem;
    /* next 3 is not good */
    border-bottom: 1px solid black;
    width: 100%;

    text-align: center;
  }
  .nav-links li a {
    color: black;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(500px); /* 50 is best */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
